<% include ../layout/header %>

<h1>Exercice api par Kéviinraj BALARATNAM | Exo back Node.js</h1>
<h3>Bonjour, des interfaces webs sont présents pour tester facilement vos requêtes.</h3>
<p>Vous pouvez vous rendre sur cette page pour vous authentifier :
<p><a href="/api/token/">Authentification</a></p>

<% include ../layout/footer %>