<% include ../layout/header %>

<h1>Exercice api par Kéviinraj BALARATNAM | Exo back Node.js</h1>
<p>Bonjour, vous pouvez vous rendre sur cette page pour vous authentifier :
<p><a href="/api/token/">Authentification</a></p>

<% include ../layout/footer %>