<% include ../layout/header %>

<h1>Veuillez vous authentifier</h1>
<p>Vous n'êtes pas authentifié,
    veuillez vous rendre sur cette page pour vous authentifier :
    <a href="/api/token/">Authentification</a>
</p>

<% include ../layout/footer %>