<!DOCTYPE>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <title>Exo Back js</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Exo Back</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/api/token">Authentification</a>
                    <a class="nav-item nav-link" href="/api/justify">Traitement</a>
                </div>
            </div>
        </nav>